onebusaway-guice-jsr250

  Project documentation for the <<<onebusaway-guice-jsr250>>>, which provides simple support for the @PostConstruct and
@PreDestroy annotations defined in {{{http://jcp.org/en/jsr/detail?id=250}JSR-250}}. 